@using System.Configuration;
@using BEAS.Web.Helpers;
@Html.Partial("_SharedIncludes")
<script src="https://cdnjs.cloudflare.com/ajax/libs/async/2.6.1/async.min.js"></script>

<script type="text/javascript">
    var userInfoVm;

    var userInfoConfig = {
        deploySpecRunner: "@ConfigurationManager.AppSettings["DeploySpecRunner"]",
        scriptsToLoad: [
            '@FingerPrintHelper.Tag("/Scripts/Users/UserInfo.js")',
            '@FingerPrintHelper.Tag("/Scripts/Shared/Common.js")',
            '@FingerPrintHelper.Tag("/Scripts/Shared/moment.js")'
        ],
        stylesToLoad: [
            '@FingerPrintHelper.Tag("/Content/Common.css")'
        ]
    }

    bladeUI.loadScripts(userInfoConfig.scriptsToLoad, userInfoConfig.stylesToLoad, true).done(function () {
        userInfoVm = new UserInfoViewModel(userInfoConfig, _BLADE_INSTANCE_);
        userInfoVm.initialise();
    });
</script>

<div id="divUserInfoMain" class="form-horizontal">
    <form id="frmUserInfo" data-bind="with: $root.user, bind: $root.user">
        <div class="fxs-part">
            <div class="form-group form-group-sm col-md-12 left-margin-zero right-margin-zero">
                <div class="row">
                    <label class="col-md-3 control-label label-for-static">AD Name</label>
                    <div class="col-lg-6 col-md-6 col-sm-6 bottom-margin-10">
                        <input class="form-control" id="txtName" placeholder="AD Name" autocomplete="off" data-bind="value: adName"  />
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label label-for-static">Display Name</label>
                    <div class="col-lg-6 col-md-6 col-sm-6 bottom-margin-10">
                        <input class="form-control" id="txtDisplayName" placeholder="Display Name" autocomplete="off" data-bind="value: displayName" />
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 control-label label-for-static">Email Address</label>
                    <div class="col-lg-6 col-md-6 col-sm-6 bottom-margin-10">
                        <input class="form-control" id="txtEmailAddress" placeholder="Email Address" autocomplete="off" data-bind="value: emailAddress" />
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-12 label-for-static">Application Area Roles</label>
                </div>
                <div class="row">
                        <table id="userApplicationAreaRolesGrid" class="col-md-12 leftRight-padding-zero"></table>
                 </div>
             </div>
        </div>
    </form>
</div>

<div class="confirmDeleteUser msportalfx-text-small" title="Confirm Delete" style="display: none"></div>